{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="blog-single segments-page">
    <div class="container">
        <div class="tag">
            <ul>
                <li>Dərəcələr: </li>
                {% for tag in common_tags %}
                <li><a href="{% url 'tagged_mentiq' tag.slug %}">{{tag}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="blog-single ">
    <div class="container">
        {% for mentiq in mentiqs %}
        <div class="content border">
            <div class="content-title">
                <h1><a href="{% url 'mentiq' mentiq.slug %}">{{mentiq.title}}</a></h1>
            </div>
            <div class="tag">
                <ul>                    
                <li>Dərəcə: </li>
                {% for tag in mentiq.tags.all %}
                    <li><a href="{% url 'tagged_mentiq' tag.slug %}">{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}