{% extends 'base.html' %}

{% block content %}
        <div class="container pt-5">
            <p>Dərəcə: 
                {% for tag in common_tags %}
                <a href="{% url 'tagged' tag.slug %}" class="badge badge-success">{{tag}}</a>
            {% endfor %}
            </p>
            <div class="row mb-2 posts">
                    {% for material in materials %}
                    <div class="col-md-6">
                        <div class="cards">
                            <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <h3 class="my-1"><a href="{% url 'material' material.slug %}">{{material.title}}</a></h3>
                                    <div style="display:flex">
                                        {% for tag in material.tags.all %}
                                        <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                    <p class="mb-auto text-muted">{{material.created_at}}</p>
                                </div>
                            </div>
                        </div>       
                    </div>
                    {% endfor %}
            </div>
        </div>    
{% endblock content %}        




