{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="features segments">
    <div class="container">
        <div class="section-title">
        </div>
        <div class="row">
            <div class="col s6">
                <div class="content">                        
                    <a href="{% url 'home_material' %}"> 
                        <img src="{% static 'assets/images/product1.jpg' %}" alt="">
                        <p>QANUNVERİCİLİK</p>
                    </a>                        
                </div>
            </div>
            <div class="col s6">
                <div class="content">                        
                    <a href="{% url 'home_informatika' %}">
                        <img src="{% static 'assets/images/product1.jpg' %}" alt="">
                        <p>İNFORMATİKA</p>
                    </a>                        
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="content">                        
                    <a href="{% url 'home_mentiq' %}">
                        <img src="{% static 'assets/images/product1.jpg' %}" alt="">
                        <p>MƏNTİQ</p>
                    </a>                        
                </div>
            </div>
            <div class="col s6">
                <div class="content">                        
                    <a href="{% url 'home_azdili' %}">
                        <img src="{% static 'assets/images/product1.jpg' %}" alt="">
                        <p>AZƏRBAYCAN DİLİ</p>
                    </a>                        
                </div>
            </div>
        </div>
    </div>
</div>
<!-- latest news -->
<!-- ----------------XEBERLER ISLEMIR---------------- -->
<div class="latest-news segments">
    <div class="container">
        <div class="section-title">
            <a href="{% url 'home_xeber'%}"><h3>XƏBƏRLƏR</h3></a>
        </div>
        {% for xeber in xebers %}
        <div class="content border">
            <div class="content-title">
                <h1><a href="{% url 'xeber' xeber.slug %}">{{xeber.title|truncatechars:45}}</a></h1>
            </div>
            <div class="tag">
                <ul>
                <li>Tag: </li>
                {% for tag in xeber.tags.all %}
                    <li><a href="{% url 'xeber' tag.slug %}">{{tag}}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- end latest news -->
{% endblock content %} 